<div id="login-form">
  <div class="login-form__form-content">
    <p>Welcome to <br/>BEAM-BMS</p>
    <p>Enter your PIN:</p>
    <div class="input-wrapper">
      <input type="text" class="pin-input" value="" maxlength="1"/>
      <input type="text" class="pin-input" value="" maxlength="1"/>
      <input type="text" class="pin-input" value="" maxlength="1"/>
      <input type="text" class="pin-input" value="" maxlength="1"/>
    </div>
    <div id="pin-submit-btn" class="btn disabled">
      <h3 class="btn-text">SUBMIT</h3>
    </div>
  </div>
</div>
