body,
html {
  font-family: Arial, sans-serif;
  color: black;
  margin: 0;
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  width: 100vw;
  background-color: #eee7e7;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main .page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
li,
p,
span {
  font-family: Arial, sans-serif;
}

.footnotes {
  width: 100%;
}

.footnotes .footnote {
  font-size: 11px !important;
  text-align: left;
  color: black;
  line-height: 1.1;
}

.footnotes .footnote + .footnote {
  margin-top: 10px !important;
}


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

sup {
  line-height: 0;
  vertical-align: super;
  font-size: 0.6em;
}

sub {
  line-height: 0;
  vertical-align: sub;
  font-size: 0.6em;
}

textarea:focus,
input:focus {
  outline: none;
}

input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}
.italic,
em {
  font-style: italic;
}

.bold,
strong {
  font-weight: 500 !important;
}

.underline {
  text-decoration: underline;
}

.all-caps {
  text-transform: uppercase;
}

.no-caps {
  text-transform: none;
}

.small-caps {
  font-variant: small-caps;
}

.hang {
  text-indent: -4px;
}

.align-left {
  align-self: flex-start;
  text-align: left !important;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
  display: inline-block;
}

.gap-10 {
  height: 10px;
}

.gap-15 {
  height: 15px;
}
#login-form {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #eee7e7;
  padding-top: 70px;
}

#login-form .login-form__form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#login-form .login-form__form-content p {
  font-family: Arial;
  font-size: 30px;
  line-height: 1.4;
  color: #595454;
  font-weight: bold;
}

#login-form .login-form__form-content p + p {
  margin-top: 60px;
  font-size: 28px;
}

#login-form .login-form__form-content .input-wrapper {
  display: flex;
  margin-top: 45px;
}

#login-form .login-form__form-content .input-wrapper input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
  width: 33px;
  height: 25px;
  margin: 8px 18px;
  font-size: 30px;
  color: #595454;
  padding: 4px;
  border: none;
  border-bottom: 3px solid #595454;
  text-align: center;
}

#login-form .login-form__form-content #pin-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  background: #be2bbb;
  width: 250px;
  height: 42px;
  border-radius: 30px;
  transition: background 0.5s linear;
}

#login-form .login-form__form-content #pin-submit-btn h3 {
  color: white;
  font-size: 23px;
  font-weight: bold;
  font-family: Arial;
  letter-spacing: 1px;
}

#login-form .login-form__form-content #pin-submit-btn.disabled {
  pointer-events: none;
  background: transparent;
  border: 2px solid #be2bbb;
}

#login-form .login-form__form-content #pin-submit-btn.disabled h3 {
  color: #be2bbb;
}
#standby {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: #eee7e7;
  width: 100%;
  height: -webkit-fill-available;
  height: 100vh;
}

#standby .standby-text {
  font-family: Arial;
  font-size: 27px;
  line-height: 1.3;
  color: #595454;
  font-weight: bold;
  margin-top: 170px;
  text-align: center;
}

#standby .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #be2bbb;
}