@import '../base/-variables', '../base/-mixins';

#login-form {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: $loginBg;
  padding-top: 70px;

  .login-form__form-content {
    @include flexCenter;
    flex-direction: column;

    p {
      font-family: Arial;
      font-size: 30px;
      line-height: 1.4;
      color: $loginText;
      font-weight: bold;

      & + p {
        margin-top: 60px;
        font-size: 28px;
      }
    }

    .input-wrapper {
      display: flex;
      margin-top: 45px;

      input {
        @include flexCenter;
        background: transparent;
        font-family: Arial;
        font-weight: 600;
        text-transform: uppercase;
        width: 33px;
        height: 25px;
        margin: 8px 18px;
        font-size: 30px;
        color: $loginText;
        padding: 4px;
        border: none;
        border-bottom: 3px solid $loginText;
        text-align: center;
      }
    }

    #pin-submit-btn {
      @include btn;
      margin-top: 45px;
      background: $bmsPurple;
      width: 250px;
      height: 42px;
      border-radius: 30px;
      transition: background 0.5s linear;

      h3 {
        color: white;
        font-size: 23px;
        font-weight: bold;
        font-family: Arial;
        letter-spacing: 1px;
      }

      &.disabled {
        pointer-events: none;
        background: transparent;
        border: 2px solid $bmsPurple;

        h3 {
          color: $bmsPurple;
        }
      }
    }
  }
}
