@import '../base/-variables', '../base/-mixins';

#standby {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: $loginBg;
  width: 100%;
  height: -webkit-fill-available;
  height: 100vh;

  .standby-text {
    font-family: Arial;
    font-size: 27px;
    line-height: 1.3;
    color: $loginText;
    font-weight: bold;
    margin-top: 170px;
    text-align: center;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: $bmsPurple;
  }
}
