.italic,
em {
  font-style: italic;
}

.bold,
strong {
  font-weight: 500 !important;
}

.underline {
  text-decoration: underline;
}

.all-caps {
  text-transform: uppercase;
}

.no-caps {
  text-transform: none;
}

.small-caps {
  font-variant: small-caps;
}

.hang {
  text-indent: -4px;
}

.align-left {
  align-self: flex-start;
  text-align: left !important;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
  display: inline-block;
}

.gap-10 {
  height: 10px;
}

.gap-15 {
  height: 15px;
}
