@import './base/-variables';

body,
html {
  font-family: Arial, sans-serif;
  color: black;
  margin: 0;
  height: 100vh;
  /* mobile viewport bug fix */
  height: -webkit-fill-available;
  width: 100vw;
  background-color: $loginBg;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .page-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h1,
h2,
h3,
h4,
h5,
li,
p,
span {
  font-family: Arial, sans-serif;
}

.footnotes {
  width: 100%;

  .footnote {
    font-size: 11px !important;
    text-align: left;
    color: black;
    line-height: 1.1;

    & + .footnote {
      margin-top: 10px !important;
    }
  }
}
